# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
*.pdb
*.so

# Environment
.env
.venv/
env/
venv/
ENV/
.env.*

# Streamlit cache
.streamlit/
logs/
.cache/

# Jupyter & notebooks
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Data/models
/data/*
!/data/README.md
/models/*
!/models/README.md

# Temporary
*.tmp
*.log
*.bak

# Build / dist
build/
dist/
*.spec
